body{
    background-color: #eee999;
}

.login-container{
    background-color: white;
    padding-top: 10px;
    margin-top: 30px;
    border-radius: 20px;
    height: 550px;
    width: 500px;
    margin: 20px auto;
}

.form-login{
    max-width: 330px;
    padding: 0;
    margin: 0 auto;
}

.logo-image{
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.form-group{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
}

.login{
    background-color: #00573C;
    border: none;
}

.password{
    background-color: #C2B174;
    border: none;
}

/*Sac State Color scheme*/

/*#043927*/
/*#f0e1b0*/

/*#00573C*/
/*#C2B174*/