
.wholeCal {
    min-width: 350px;
    width: 60%;
    border-style: solid;
    border-color: green;
}

.withCal {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.weekdays {
    text-align: left;
    border: none;
}

#calendarMonth {
    padding: 8px;
    padding-left: 3.57%;
    padding-right: 3.57%;
}

#calendarYear {
    padding: 8px;
    padding-left: 3.57%;
    padding-right: 3.57%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0px solid #FFFFFF;
}

.days td {
    border: 1px solid #14074D;
    height: 25px;
    width: 14.285714%;
}


.days td:hover {
    color: red;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.timeSlot dt {
    border: 1px solid black;
}
